@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@font-face {
  font-family: "Open Hunin";
  src: url("../../../../../public/font/font-open-hunin.ttf"); // pattern: /directoryName/file.extension
}

@font-face {
  font-family: "Advercase";
  src: url("../../../../../public/font/AdvercaseFont-Demo-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Advercase";
  src: url("../../../../../public/font/AdvercaseFont-Demo-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ==========================================================================
  FONT FAMILY
  ========================================================================== */

$font-primary: "Inter", sans-serif;
$font-secondary: "Open Hunin";
$font-title: "Advercase", serif;
// $font-primary        : 'Poppins', sans-serif;
