.template-landing-page-section-video {
  background: linear-gradient(90deg, rgba(246, 224, 182, 1) 0%, rgba(206, 255, 229, 1) 100%);
  $size-height: 60vw;


  &-content {
    position: relative;
    height: $size-height;
    display: grid;
    align-items: center;
    margin: unset;
    overflow: hidden;
  }

  &-video {
    width: 100%;
    height: 100%;

    &-wrapper {
      position: absolute;

      left: 0;
      top: 0;
      width: 100%;
      height: 90%;
      padding: 1rem;
      box-sizing: border-box;

      iframe {
        width: 100%;
        height: 100%;
        border: unset;
      }

    }
  }


  &-image-decor {
    width: 100%;
    height: 100%;



    z-index: 2;

    img {
      height: $size-height;
      // height: fit-content;
      object-fit: cover;
    }

  }

  &-button {
    position: absolute;
    bottom: 30%;
    width: 100%;
    z-index: 3;
  }



}