/* ==========================================================================
   VARIABLE
   ========================================================================== */

   $height-header: 5rem;
   $height-thumbnail: 8rem;
   $width-navigation: 15rem;
   $size-avatar: 4.2rem;
   $side-nav-bar-collapsed-width: 60px;

/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */
   $breakpoint-hd: 1920px;
   $breakpoint-xl: 1440px;
   $breakpoint-lg: 1216px;
   $breakpoint-hg: 1024px;
   $breakpoint-mh: 920px;
   $breakpoint-md: 769px;
   $breakpoint-sd: 555px;
   $breakpoint-sm: 480px;
   $breakpoint-smt: 400px;
   $breakpoint-ts: 360px;
   $breakpoint-xs: 320px;
   $breakpoint-xxs: 280px;

 /* ==========================================================================
    FONT SIZE
    ========================================================================== */