.elements-icon-button-toggle{
  $className: 'elements-icon-button-toggle';


  &-item{
    border-radius: 1rem;
    background-color: $color-primary;
    
    &:hover{
      background-color: $color-primary;
      color: white;
    }
    
    &.Mui-selected{
      background-color: $color-secondary;
      color: white;


      &:hover{
        background-color: $color-secondary;
        opacity: .7;
      }
    }

    &.disable-mui-selected{
      &.Mui-selected{
        background-color: inherit;
      }
    }

  }

  &.circle-icon{
    .#{$className}{
      &-item{
        border-radius: 100%;
        border: unset;
      }
    }
  }

  &.using-icon-active{

  }
  &.not-using-icon-active{
    .elements-icon-button-toggle-item{
      border-radius: 1rem;
      &.Mui-selected{
        background-color: $color-secondary;
        color: white;
      }
    }
  }

}